<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'thankyoustyle.css') }}">
    <title>Document</title>
</head>

<body>
    <img src="{{ url_for('static', filename='dondondonki.png')}}">
    <div class="text">
        <h1>Thank You</h1>
        <h1>for Shopping </h1>
        <h1>with us!</h1>
    </div>
    <div class="continueButtons">
        <a href="/">Continue</a>
        <a href="/paymentDonation">Donate</a>
    </div>
</body>

</html>